@import url("https://fonts.googleapis.com/css2?family=Special+Elite&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
:root {
  --main-bg: lightblue;
  --main-red-color: #ab1d1d;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* overflow: hidden; */
}

body{
  background-color: var(--main-bg);
  font-family: 'Roboto', sans-serif;
}
.b-logo{
  width: 30px;
}
.caption-override{
  width: 40%;
  padding: 2rem;
  border-radius: 0.5rem;
  background-color: #0000009d;
}

.section-override{
  margin-top: 2rem;
}
.about-me{
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  border: 1px solid grey;
  margin: 5rem 0;
  background: #eeeeeeee;
  min-height: 70vh;
  padding: 1rem;
}
.about__left{
  width: 27%;
  margin-right: 1rem;
}

.about__left img{
  width: 400px;
}
.about__right{
  width: 70%;
  background: white;
  padding: 4rem;
  border-radius: 1rem;
}
.about__right--title h3{
  color: #727272;
}
.about__right--title p{
  color: #838383;
  line-height: 2rem !important;
  font-size: 1.1rem;
}
